! Xft DPI
Xft.dpi:		100

!
! genelic resouces
!
*cursorColor:		slateblue1
!*KanjiFont:		-*-*-bold-r-*-*-12-*-*-*-m-*-jisx0208.1983-*
!*KanaFont:		-*-*-bold-r-*-*-12-*-*-*-m-*-jisx0201.1976-*
!*Font:			-shinonome-gothic-bold-r-*-*-12-*-*-*-*-*-iso8859-1
*Font:			-*-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-iso8859-1
!*FontSet:		-*-*-bold-r-*-*-12-*-*-*-m-*-*-*
!*fontList:		-*-*-bold-r-*-*-12-*-*-*-m-*-*-*

*multiClickTime:	500
*charClass:		33:48,37:48,45-47:48,64:48
*cutNewline:		off
*cutToBeginningOfLine:	off
*ttyModes:		intr ^c erase ^? kill ^u
!*Foreground:		black
*Foreground:		gainsboro
*Background:		black
*saveLines:		8192
*kanjiMode:		euc

*ScrollBar:		on
*ScrollBar*Thickness:	8
*ScrollBar*Foreground:	black
*ScrollBar*Background:	gray

EmiClock*Foreground:	ForestGreen
!
! Xterm/Kterm font select menu
!
*vt100*ScrollBar:		off
*vt100*font:		-*-lucidatypewriter-*-*-*-*-12-*-*-*-*-*-iso8859-1
*fontMenu.Label:		VT Fonts
*fontMenu*fontdefault*Label:	Default
*fontMenu*font1*Label:		8 Dot
*vt100*font1:		-*-lucidatypewriter-*-*-*-*-8-*-*-*-*-*-iso8859-1
*fontMenu*font2*Label:		10 Dot
*vt100*font2:		-*-lucidatypewriter-*-*-*-*-10-*-*-*-*-*-iso8859-1
*fontMenu*font3*Label:		14 Dot
*vt100*font3:		-*-lucidatypewriter-*-*-*-*-14-*-*-*-*-*-iso8859-1
*fontMenu*font4*Label:		17 Dot
*vt100*font4:		-*-lucidatypewriter-*-*-*-*-17-*-*-*-*-*-iso8859-1
*fontMenu*font5*Label:		24 Dot
*vt100*font5:		-*-lucidatypewriter-*-*-*-*-24-*-*-*-*-*-iso8859-1
*fontMenu*font6*Label:		34 Dot
*vt100*font6:		-*-lucidatypewriter-*-*-*-*-34-*-*-*-*-*-iso8859-1
*vt100.Translations: #override \
              <Key>BackSpace: string(0x08)\n\
              <Key>Delete:    string(0x7F)
*deleteIsDEL:		true
*inheritPixmap:		true

!
! Emacs
!
Emacs*useXIM: off
!
! XConsole
!
XConsole*Text*Foreground:	PaleGreen1
XConsole*Text*Background:	DodgerBlue

!
! Tgif
!
!
! DoubleByte related
!
Tgif.DefaultSingleByteFont:	Helvetica
Tgif.SquareDoubleByteFonts: \n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
\n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
-*-mincho-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
-*-gothic-*-r-*-*-%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V
Tgif.DoubleByteInputMethod:	kinput2
Tgif.ConvSelection:		_JAPANESE_CONVERSION
Tgif.Lang:			ja_JP.eucJP
Tgif.PreeditType:		overthespot
Tgif.InitialPaperSize:		21cm x 29.7cm
!Tgif.InitialPaperSize:		29.7cm x 42cm
Tgif.ShowMeasurementUnit: cm
!(defun tgif-color ()
!  (interactive)
!  (let ((count 11))
!    (while (< count 564)
!      (beginning-of-line)
!      (insert-string (format "Tgif.Color%d:	" count))
!      (forward-line)
!      (setq count (1+ count)))))
Tgif.MaxColors:	564
Tgif.Color0:	magenta
Tgif.Color1:	red
Tgif.Color2:	green
Tgif.Color3:	blue
Tgif.Color4:	yellow
Tgif.Color5:	pink
Tgif.Color6:	cyan
Tgif.Color7:	CadetBlue
Tgif.Color8:	white
Tgif.Color9:	black
Tgif.Color10:	DarkSlateGray
Tgif.Color11:	snow
Tgif.Color12:	GhostWhite
Tgif.Color13:	WhiteSmoke
Tgif.Color14:	gainsboro
Tgif.Color15:	FloralWhite
Tgif.Color16:	OldLace
Tgif.Color17:	linen
Tgif.Color18:	AntiqueWhite
Tgif.Color19:	PapayaWhip
Tgif.Color20:	BlanchedAlmond
Tgif.Color21:	bisque
Tgif.Color22:	PeachPuff
Tgif.Color23:	NavajoWhite
Tgif.Color24:	moccasin
Tgif.Color25:	cornsilk
Tgif.Color26:	ivory
Tgif.Color27:	LemonChiffon
Tgif.Color28:	seashell
Tgif.Color29:	honeydew
Tgif.Color30:	MintCream
Tgif.Color31:	azure
Tgif.Color32:	AliceBlue
Tgif.Color33:	lavender
Tgif.Color34:	LavenderBlush
Tgif.Color35:	MistyRose
Tgif.Color36:	DarkSlateGray
Tgif.Color37:	DimGray
Tgif.Color38:	DimGrey
Tgif.Color39:	SlateGray
Tgif.Color40:	SlateGrey
Tgif.Color41:	LightSlateGray
Tgif.Color42:	LightSlateGrey
Tgif.Color43:	gray
Tgif.Color44:	grey
Tgif.Color45:	LightGrey
Tgif.Color46:	LightGray
Tgif.Color47:	MidnightBlue
Tgif.Color48:	navy
Tgif.Color49:	NavyBlue
Tgif.Color50:	CornflowerBlue
Tgif.Color51:	DarkSlateBlue
Tgif.Color52:	SlateBlue
Tgif.Color53:	MediumSlateBlue
Tgif.Color54:	LightSlateBlue
Tgif.Color55:	MediumBlue
Tgif.Color56:	RoyalBlue
Tgif.Color57:	blue
Tgif.Color58:	DodgerBlue
Tgif.Color59:	DeepSkyBlue
Tgif.Color60:	SkyBlue
Tgif.Color61:	LightSkyBlue
Tgif.Color62:	SteelBlue
Tgif.Color63:	LightSteelBlue
Tgif.Color64:	LightBlue
Tgif.Color65:	PowderBlue
Tgif.Color66:	PaleTurquoise
Tgif.Color67:	DarkTurquoise
Tgif.Color68:	MediumTurquoise
Tgif.Color69:	turquoise
Tgif.Color70:	LightCyan
Tgif.Color71:	MediumAquamarine
Tgif.Color72:	aquamarine
Tgif.Color73:	DarkGreen
Tgif.Color74:	DarkOliveGreen
Tgif.Color75:	DarkSeaGreen
Tgif.Color76:	SeaGreen
Tgif.Color77:	MediumSeaGreen
Tgif.Color78:	LightSeaGreen
Tgif.Color79:	PaleGreen
Tgif.Color80:	SpringGreen
Tgif.Color81:	LawnGreen
Tgif.Color82:	chartreuse
Tgif.Color83:	MediumSpringGreen
Tgif.Color84:	GreenYellow
Tgif.Color85:	LimeGreen
Tgif.Color86:	YellowGreen
Tgif.Color87:	ForestGreen
Tgif.Color88:	OliveDrab
Tgif.Color89:	DarkKhaki
Tgif.Color90:	khaki
Tgif.Color91:	PaleGoldenrod
Tgif.Color92:	LightGoldenrodYellow
Tgif.Color93:	LightYellow
Tgif.Color94:	gold
Tgif.Color95:	LightGoldenrod
Tgif.Color96:	goldenrod
Tgif.Color97:	DarkGoldenrod
Tgif.Color98:	RosyBrown
Tgif.Color99:	IndianRed
Tgif.Color100:	SaddleBrown
Tgif.Color101:	sienna
Tgif.Color102:	peru
Tgif.Color103:	burlywood
Tgif.Color104:	beige
Tgif.Color105:	wheat
Tgif.Color106:	SandyBrown
Tgif.Color107:	tan
Tgif.Color108:	chocolate
Tgif.Color109:	firebrick
Tgif.Color110:	brown
Tgif.Color111:	DarkSalmon
Tgif.Color112:	salmon
Tgif.Color113:	LightSalmon
Tgif.Color114:	orange
Tgif.Color115:	DarkOrange
Tgif.Color116:	coral
Tgif.Color117:	LightCoral
Tgif.Color118:	tomato
Tgif.Color119:	OrangeRed
Tgif.Color120:	HotPink
Tgif.Color121:	DeepPink
Tgif.Color122:	LightPink
Tgif.Color123:	PaleVioletRed
Tgif.Color124:	maroon
Tgif.Color125:	MediumVioletRed
Tgif.Color126:	VioletRed
Tgif.Color127:	violet
Tgif.Color128:	plum
Tgif.Color129:	orchid
Tgif.Color130:	MediumOrchid
Tgif.Color131:	DarkOrchid
Tgif.Color132:	DarkViolet
Tgif.Color133:	BlueViolet
Tgif.Color134:	purple
Tgif.Color135:	MediumPurple
Tgif.Color136:	thistle
Tgif.Color137:	snow1
Tgif.Color138:	snow2
Tgif.Color139:	snow3
Tgif.Color140:	snow4
Tgif.Color141:	seashell1
Tgif.Color142:	seashell2
Tgif.Color143:	seashell3
Tgif.Color144:	seashell4
Tgif.Color145:	AntiqueWhite1
Tgif.Color146:	AntiqueWhite2
Tgif.Color147:	AntiqueWhite3
Tgif.Color148:	AntiqueWhite4
Tgif.Color149:	bisque1
Tgif.Color150:	bisque2
Tgif.Color151:	bisque3
Tgif.Color152:	bisque4
Tgif.Color153:	PeachPuff1
Tgif.Color154:	PeachPuff2
Tgif.Color155:	PeachPuff3
Tgif.Color156:	PeachPuff4
Tgif.Color157:	NavajoWhite1
Tgif.Color158:	NavajoWhite2
Tgif.Color159:	NavajoWhite3
Tgif.Color160:	LemonChiffon1
Tgif.Color161:	LemonChiffon2
Tgif.Color162:	LemonChiffon3
Tgif.Color163:	LemonChiffon4
Tgif.Color164:	cornsilk1
Tgif.Color165:	cornsilk2
Tgif.Color166:	cornsilk3
Tgif.Color167:	cornsilk4
Tgif.Color168:	ivory1
Tgif.Color169:	ivory2
Tgif.Color170:	ivory3
Tgif.Color171:	ivory4
Tgif.Color172:	honeydew1
Tgif.Color173:	honeydew2
Tgif.Color174:	honeydew3
Tgif.Color175:	honeydew4
Tgif.Color176:	LavenderBlush1
Tgif.Color177:	LavenderBlush2
Tgif.Color178:	LavenderBlush3
Tgif.Color179:	LavenderBlush4
Tgif.Color180:	MistyRose1
Tgif.Color181:	MistyRose2
Tgif.Color182:	MistyRose3
Tgif.Color183:	MistyRose4
Tgif.Color184:	azure1
Tgif.Color185:	azure2
Tgif.Color186:	azure3
Tgif.Color187:	azure4
Tgif.Color188:	SlateBlue1
Tgif.Color189:	SlateBlue2
Tgif.Color190:	SlateBlue3
Tgif.Color191:	SlateBlue4
Tgif.Color192:	RoyalBlue1
Tgif.Color193:	RoyalBlue2
Tgif.Color194:	RoyalBlue3
Tgif.Color195:	RoyalBlue4
Tgif.Color196:	blue1
Tgif.Color197:	blue2
Tgif.Color198:	blue3
Tgif.Color199:	blue4
Tgif.Color200:	DodgerBlue1
Tgif.Color201:	DodgerBlue2
Tgif.Color202:	DodgerBlue3
Tgif.Color203:	DodgerBlue4
Tgif.Color204:	SteelBlue1
Tgif.Color205:	SteelBlue2
Tgif.Color206:	SteelBlue3
Tgif.Color207:	SteelBlue4
Tgif.Color208:	DeepSkyBlue1
Tgif.Color209:	DeepSkyBlue2
Tgif.Color210:	DeepSkyBlue3
Tgif.Color211:	DeepSkyBlue4
Tgif.Color212:	SkyBlue1
Tgif.Color213:	SkyBlue2
Tgif.Color214:	SkyBlue3
Tgif.Color215:	SkyBlue4
Tgif.Color216:	LightSkyBlue1
Tgif.Color217:	LightSkyBlue2
Tgif.Color218:	LightSkyBlue3
Tgif.Color219:	LightSkyBlue4
Tgif.Color220:	SlateGray1
Tgif.Color221:	SlateGray2
Tgif.Color222:	SlateGray3
Tgif.Color223:	SlateGray4
Tgif.Color224:	LightSteelBlue1
Tgif.Color225:	LightSteelBlue2
Tgif.Color226:	LightSteelBlue3
Tgif.Color227:	LightSteelBlue4
Tgif.Color228:	LightBlue1
Tgif.Color229:	LightBlue2
Tgif.Color230:	LightBlue3
Tgif.Color231:	LightBlue4
Tgif.Color232:	LightCyan1
Tgif.Color233:	LightCyan2
Tgif.Color234:	LightCyan3
Tgif.Color235:	LightCyan4
Tgif.Color236:	PaleTurquoise1
Tgif.Color237:	PaleTurquoise2
Tgif.Color238:	PaleTurquoise3
Tgif.Color239:	PaleTurquoise4
Tgif.Color240:	CadetBlue1
Tgif.Color241:	CadetBlue2
Tgif.Color242:	CadetBlue3
Tgif.Color243:	CadetBlue4
Tgif.Color244:	turquoise1
Tgif.Color245:	turquoise2
Tgif.Color246:	turquoise3
Tgif.Color247:	turquoise4
Tgif.Color248:	cyan1
Tgif.Color249:	cyan2
Tgif.Color250:	cyan3
Tgif.Color251:	cyan4
Tgif.Color252:	DarkSlateGray1
Tgif.Color253:	DarkSlateGray2
Tgif.Color254:	DarkSlateGray3
Tgif.Color255:	DarkSlateGray4
Tgif.Color256:	aquamarine1
Tgif.Color257:	aquamarine2
Tgif.Color258:	aquamarine3
Tgif.Color259:	aquamarine4
Tgif.Color260:	DarkSeaGreen1
Tgif.Color261:	DarkSeaGreen2
Tgif.Color262:	DarkSeaGreen3
Tgif.Color263:	DarkSeaGreen4
Tgif.Color264:	SeaGreen1
Tgif.Color265:	SeaGreen2
Tgif.Color266:	SeaGreen3
Tgif.Color267:	PaleGreen1
Tgif.Color268:	PaleGreen2
Tgif.Color269:	PaleGreen3
Tgif.Color270:	SpringGreen1
Tgif.Color271:	SpringGreen2
Tgif.Color272:	SpringGreen3
Tgif.Color273:	DarkOliveGreen1
Tgif.Color274:	DarkOliveGreen2
Tgif.Color275:	khaki1
Tgif.Color276:	khaki2
Tgif.Color277:	khaki3
Tgif.Color278:	LightGoldenrod1
Tgif.Color279:	LightGoldenrod2
Tgif.Color280:	LightGoldenrod3
Tgif.Color281:	LightYellow1
Tgif.Color282:	LightYellow2
Tgif.Color283:	LightYellow3
Tgif.Color284:	LightYellow4
Tgif.Color285:	RosyBrown1
Tgif.Color286:	RosyBrown2
Tgif.Color287:	RosyBrown3
Tgif.Color288:	RosyBrown4
Tgif.Color289:	IndianRed1
Tgif.Color290:	burlywood1
Tgif.Color291:	burlywood2
Tgif.Color292:	burlywood3
Tgif.Color293:	wheat1
Tgif.Color294:	wheat2
Tgif.Color295:	wheat3
Tgif.Color296:	wheat4
Tgif.Color297:	salmon1
Tgif.Color298:	LightSalmon1
Tgif.Color299:	LightSalmon2
Tgif.Color300:	DeepPink1
Tgif.Color301:	DeepPink2
Tgif.Color302:	DeepPink3
Tgif.Color303:	HotPink1
Tgif.Color304:	HotPink2
Tgif.Color305:	HotPink3
Tgif.Color306:	HotPink4
Tgif.Color307:	pink1
Tgif.Color308:	pink2
Tgif.Color309:	pink3
Tgif.Color310:	pink4
Tgif.Color311:	LightPink1
Tgif.Color312:	LightPink2
Tgif.Color313:	LightPink3
Tgif.Color314:	LightPink4
Tgif.Color315:	PaleVioletRed1
Tgif.Color316:	PaleVioletRed2
Tgif.Color317:	PaleVioletRed3
Tgif.Color318:	maroon1
Tgif.Color319:	maroon2
Tgif.Color320:	maroon3
Tgif.Color321:	VioletRed1
Tgif.Color322:	VioletRed2
Tgif.Color323:	VioletRed3
Tgif.Color324:	magenta1
Tgif.Color325:	magenta2
Tgif.Color326:	magenta3
Tgif.Color327:	magenta4
Tgif.Color328:	orchid1
Tgif.Color329:	orchid2
Tgif.Color330:	orchid3
Tgif.Color331:	orchid4
Tgif.Color332:	plum1
Tgif.Color333:	plum2
Tgif.Color334:	plum3
Tgif.Color335:	plum4
Tgif.Color336:	MediumOrchid1
Tgif.Color337:	MediumOrchid2
Tgif.Color338:	MediumOrchid3
Tgif.Color339:	MediumOrchid4
Tgif.Color340:	DarkOrchid1
Tgif.Color341:	DarkOrchid2
Tgif.Color342:	DarkOrchid3
Tgif.Color343:	DarkOrchid4
Tgif.Color344:	purple1
Tgif.Color345:	purple2
Tgif.Color346:	purple3
Tgif.Color347:	purple4
Tgif.Color348:	MediumPurple1
Tgif.Color349:	MediumPurple2
Tgif.Color350:	MediumPurple3
Tgif.Color351:	MediumPurple4
Tgif.Color352:	thistle1
Tgif.Color353:	thistle2
Tgif.Color354:	thistle3
Tgif.Color355:	thistle4
Tgif.Color356:	gray0
Tgif.Color357:	grey0
Tgif.Color358:	gray1
Tgif.Color359:	grey1
Tgif.Color360:	gray2
Tgif.Color361:	grey2
Tgif.Color362:	gray3
Tgif.Color363:	grey3
Tgif.Color364:	gray4
Tgif.Color365:	grey4
Tgif.Color366:	gray5
Tgif.Color367:	grey5
Tgif.Color368:	gray6
Tgif.Color369:	grey6
Tgif.Color370:	gray7
Tgif.Color371:	grey7
Tgif.Color372:	gray8
Tgif.Color373:	grey8
Tgif.Color374:	gray9
Tgif.Color375:	grey9
Tgif.Color376:	gray10
Tgif.Color377:	grey10
Tgif.Color378:	gray11
Tgif.Color379:	grey11
Tgif.Color380:	gray12
Tgif.Color381:	grey12
Tgif.Color382:	gray13
Tgif.Color383:	grey13
Tgif.Color384:	gray14
Tgif.Color385:	grey14
Tgif.Color386:	gray15
Tgif.Color387:	grey15
Tgif.Color388:	gray16
Tgif.Color389:	grey16
Tgif.Color390:	gray17
Tgif.Color391:	grey17
Tgif.Color392:	gray18
Tgif.Color393:	grey18
Tgif.Color394:	gray19
Tgif.Color395:	grey19
Tgif.Color396:	gray20
Tgif.Color397:	grey20
Tgif.Color398:	gray21
Tgif.Color399:	grey21
Tgif.Color400:	gray22
Tgif.Color401:	grey22
Tgif.Color402:	gray23
Tgif.Color403:	grey23
Tgif.Color404:	gray24
Tgif.Color405:	grey24
Tgif.Color406:	gray25
Tgif.Color407:	grey25
Tgif.Color408:	gray26
Tgif.Color409:	grey26
Tgif.Color410:	gray27
Tgif.Color411:	grey27
Tgif.Color412:	gray28
Tgif.Color413:	grey28
Tgif.Color414:	gray29
Tgif.Color415:	grey29
Tgif.Color416:	gray30
Tgif.Color417:	grey30
Tgif.Color418:	gray31
Tgif.Color419:	grey31
Tgif.Color420:	gray32
Tgif.Color421:	grey32
Tgif.Color422:	gray33
Tgif.Color423:	grey33
Tgif.Color424:	gray34
Tgif.Color425:	grey34
Tgif.Color426:	gray35
Tgif.Color427:	grey35
Tgif.Color428:	gray36
Tgif.Color429:	grey36
Tgif.Color430:	gray37
Tgif.Color431:	grey37
Tgif.Color432:	gray38
Tgif.Color433:	grey38
Tgif.Color434:	gray39
Tgif.Color435:	grey39
Tgif.Color436:	gray40
Tgif.Color437:	grey40
Tgif.Color438:	gray41
Tgif.Color439:	grey41
Tgif.Color440:	gray42
Tgif.Color441:	grey42
Tgif.Color442:	gray43
Tgif.Color443:	grey43
Tgif.Color444:	gray44
Tgif.Color445:	grey44
Tgif.Color446:	gray45
Tgif.Color447:	grey45
Tgif.Color448:	gray46
Tgif.Color449:	grey46
Tgif.Color450:	gray47
Tgif.Color451:	grey47
Tgif.Color452:	gray48
Tgif.Color453:	grey48
Tgif.Color454:	gray49
Tgif.Color455:	grey49
Tgif.Color456:	gray50
Tgif.Color457:	grey50
Tgif.Color458:	gray51
Tgif.Color459:	grey51
Tgif.Color460:	gray52
Tgif.Color461:	grey52
Tgif.Color462:	gray53
Tgif.Color463:	grey53
Tgif.Color464:	gray54
Tgif.Color465:	grey54
Tgif.Color466:	gray55
Tgif.Color467:	grey55
Tgif.Color468:	gray56
Tgif.Color469:	grey56
Tgif.Color470:	gray57
Tgif.Color471:	grey57
Tgif.Color472:	gray58
Tgif.Color473:	grey58
Tgif.Color474:	gray59
Tgif.Color475:	grey59
Tgif.Color476:	gray60
Tgif.Color477:	grey60
Tgif.Color478:	gray61
Tgif.Color479:	grey61
Tgif.Color480:	gray62
Tgif.Color481:	grey62
Tgif.Color482:	gray63
Tgif.Color483:	grey63
Tgif.Color484:	gray64
Tgif.Color485:	grey64
Tgif.Color486:	gray65
Tgif.Color487:	grey65
Tgif.Color488:	gray66
Tgif.Color489:	grey66
Tgif.Color490:	gray67
Tgif.Color491:	grey67
Tgif.Color492:	gray68
Tgif.Color493:	grey68
Tgif.Color494:	gray69
Tgif.Color495:	grey69
Tgif.Color496:	gray70
Tgif.Color497:	grey70
Tgif.Color498:	gray71
Tgif.Color499:	grey71
Tgif.Color500:	gray72
Tgif.Color501:	grey72
Tgif.Color502:	gray73
Tgif.Color503:	grey73
Tgif.Color504:	gray74
Tgif.Color505:	grey74
Tgif.Color506:	gray75
Tgif.Color507:	grey75
Tgif.Color508:	gray76
Tgif.Color509:	grey76
Tgif.Color510:	gray77
Tgif.Color511:	grey77
Tgif.Color512:	gray78
Tgif.Color513:	grey78
Tgif.Color514:	gray79
Tgif.Color515:	grey79
Tgif.Color516:	gray80
Tgif.Color517:	grey80
Tgif.Color518:	gray81
Tgif.Color519:	grey81
Tgif.Color520:	gray82
Tgif.Color521:	grey82
Tgif.Color522:	gray83
Tgif.Color523:	grey83
Tgif.Color524:	gray84
Tgif.Color525:	grey84
Tgif.Color526:	gray85
Tgif.Color527:	grey85
Tgif.Color528:	gray86
Tgif.Color529:	grey86
Tgif.Color530:	gray87
Tgif.Color531:	grey87
Tgif.Color532:	gray88
Tgif.Color533:	grey88
Tgif.Color534:	gray89
Tgif.Color535:	grey89
Tgif.Color536:	gray90
Tgif.Color537:	grey90
Tgif.Color538:	gray91
Tgif.Color539:	grey91
Tgif.Color540:	gray92
Tgif.Color541:	grey92
Tgif.Color542:	gray93
Tgif.Color543:	grey93
Tgif.Color544:	gray94
Tgif.Color545:	grey94
Tgif.Color546:	gray95
Tgif.Color547:	grey95
Tgif.Color548:	gray96
Tgif.Color549:	grey96
Tgif.Color550:	gray97
Tgif.Color551:	grey97
Tgif.Color552:	gray98
Tgif.Color553:	grey98
Tgif.Color554:	gray99
Tgif.Color555:	grey99
Tgif.Color556:	gray100
Tgif.Color557:	grey100
Tgif.Color558:	DarkGrey
Tgif.Color559:	DarkGray
Tgif.Color560:	DarkBlue
Tgif.Color561:	DarkCyan
Tgif.Color562:	DarkMagenta
Tgif.Color563:	DarkRed
Tgif.Color564:	LightGreen
